# Token do bot no Discord Developer Portal.
# NUNCA coloque o token real no GitHub.
DISCORD_TOKEN=COLE_O_TOKEN_AQUI

# ID do servidor do Discord. Recomendado para sincronizar comandos rapidamente.
DISCORD_GUILD_ID=SEU_ID_DO_SERVIDOR

# Render define PORT automaticamente. Localmente pode usar 10000.
PORT=10000

# Opcional. Caminho do banco JSON.
DATA_FILE=data.json
